@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 51% 21%;
    --foreground: 0 0% 98%;
    --card: 223 61% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 223 61% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 45% 58%;
    --primary-foreground: 223 61% 15%;
    --secondary: 221 51% 25%;
    --secondary-foreground: 45 45% 58%;
    --muted: 221 51% 25%;
    --muted-foreground: 215 28% 65%;
    --accent: 45 45% 58%;
    --accent-foreground: 223 61% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 51% 31%;
    --input: 221 51% 31%;
    --ring: 45 45% 58%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide Next.js dev loading mark SVG */
svg[data-next-mark-loading] {
  display: none !important;
}
